html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

div, img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: "\2600";
}

ol {
  list-style-type: upper-roman;
}

li {
  padding-left: 1em;
}

.true-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
